<!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <hr>
                <strong>REFERENCE SITES:</strong> <br />
                <a href="https://www.kainos.com/my-experience-as-a-data-scientist">https://www.kainos.com/my-experience-as-a-data-scientist</a> <br /> 
                <a href="https://www.edureka.co/blog/what-is-data-science/#whatisdatascience">https://www.edureka.co/blog/what-is-data-science/#whatisdatascience</a> <br /> <br>
                CST336 Internet Programming. 2020&copy; Rollo <br />
                <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
                It is used for academic purposes only.
        </footer>
    </body>
    <!-- closing body -->

</html>