<%- include('partials/header.ejs') %>
            
            <figure>
                <img src="img/ai2.jpg" alt="Data Science" style="width:600px;height:400px;"/> <br />
                <!--<em>https://kainos-prod-assets.s3.amazonaws.com/uploads/2019/04/data_science.png</em> -->
            </figure>
            
            <div id="content">
                <p><strong><mark>What is the Data Science Lifecycle?</mark></strong></p>
                <p>Data Scientists generally traverse through 6 main phases in the Data Science Lifecycle</P>
                <p><strong>Phase 1 - Discovery:</strong> This is where you assess the problem and determine the math and programming tools you would deploy on the problem.</p>
                <p><strong>Phase 2 - Data Preparation:</strong> This is where you explore, preprocess, and condition the data you will be modeling with, typcially called cleaning the data.</p>
                <p><strong>Phase 3 - Model Planning:</strong> Here you will determine which methods and techniques will be used to draw relationships within the data.</p>
                <p><strong>Phase 4 - Model Building:</strong> In phase 4, you will build datasets that will be used for training and testing which will determine if you have selected the correct tools for the job.</p>
                <p><strong>Phase 5 - Operationalize:</strong> This is where you deliver final reports, code, and technical documenation which together will give you an idea of the performance of the model.</p>
                <p><strong>Phase 6 - Communicate Results:</strong> In the final phase you will identify your key findings and share with the stakeholders to determine project success or failure based on the results.</p>
            </div>
            
            
            
        </main>
        
<%- include('partials/footer.ejs') %>    