<%- include('partials/header.ejs') %>
            
            <figure>
                <img src="img/matlab_python.jpg" alt="Data Science" style="width:800px;height:200px;"/> <br />
                <!--<em>https://kainos-prod-assets.s3.amazonaws.com/uploads/2019/04/data_science.png</em> -->
            </figure>
            
            <div id="content">
                <p><strong><mark>Which Languages are used in Data Science?</mark></strong></p>
                <p>Two of the most popular programming languages used in Data Science are Matlab and Python</p>
                <p>Matlab is a matrix-based programming language built within a platform that allows for the most natural expression of computational math.</p>
                <p>Python is a multi-paradigm programming language that supports object-oriented, structured, and functional programming patterns, all under one hood. It's especially popular in Data Science
                due to its Pandas and NumPy libraries. Pandas is built ontop of NumPy and is a vast data analysis library that helps perform everything from data cleaning to advanced numerical analysis using
                NumPy.</p>
            </div>
            
            
            
        </main>
        
<%- include('partials/footer.ejs') %>    