<%- include('partials/header.ejs') %>
            
            <figure>
                <img src="img/ai.jpg" alt="Data Science" style="width:600px;height:400px;"/> <br />
                <!--<em>https://kainos-prod-assets.s3.amazonaws.com/uploads/2019/04/data_science.png</em> -->
            </figure>
            
            <div id="content">
                <p><strong><mark>What Tools are Employed in Data Science?</mark></strong></p>
                <p><strong>Predictive Causal Analytics</strong> - to predict the possibilies that any particular future event will occur with certainties.</p>
                <p><strong>Prescriptive Analytics</strong> - to create a model that has the intelligence to make its own decisions as well as provide a range of prescriptive actions, with associated outcomes.</p>
                <p><strong>Machine Learning</strong> - when lacking the parameters from which to make a prediction, machine learning will allow you to find hidden patterns within a dataset which will intern allow you to make
                predictions and draw conclusions.</p>
            </div>
            
            
            
        </main>
        
<%- include('partials/footer.ejs') %>    